<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Força HTTPS apenas se estiver em HTTP ou for detectado via proxy
    #RewriteCond %{HTTPS} off [OR]
    #RewriteCond %{HTTP:X-Forwarded-Proto} !https
    #RewriteCond %{HTTP_HOST} ^(www\.)?ipoop\.app\.br$ [NC]
    #RewriteRule ^ https://ipoop.app.br%{REQUEST_URI} [R=301,L]

    # Redireciona www para não-www (somente se necessário)
    RewriteCond %{HTTP_HOST} ^www\.ipoop\.app\.br$ [NC]
    RewriteRule ^ https://ipoop.app.br%{REQUEST_URI} [R=301,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Remove barras finais (trailing slash) se não for diretório
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redireciona requisições para index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<Files .env>
  Order allow,deny
  Deny from all
</Files>
